/* RESET GLOBAL: Evita que los inputs se salgan de su contenedor */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* CLAVE: El padding ya no suma al ancho total */
  /* Transición única para que todo cambie al mismo tiempo */
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease !important;
}

:root {
  --bg-color: #000000;
  --bg-secondary: #121212;
  --text-primary: #f3f5f7;
  --text-secondary: #4d4d4d;
  --border-main: #262626;
}

[data-theme='light'] {
  --bg-color: #ffffff;
  --bg-secondary: #f9f9f9;
  --text-primary: #000000;
  --text-secondary: #777777;
  --border-main: #dbdbdb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: -apple-system, sans-serif;
  overflow-x: hidden;
}