/* src/app/globals.css */
@import "tailwindcss";

@source "../features";
@source "../components";
@source "../context";
@source "../lib";
@source "../app";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-color: var(--border-color);
  --color-feed-bg: var(--feed-bg);
}

@variant dark (&:where(.dark, .dark *));

/* 👇 TRUCO: Definimos los colores OSCUROS en :root directamente */
:root {
  --background: #101010; 
  --foreground: #F3F5F7;
  --border-color: #333333;
  --feed-bg: #181818;
}

/* Solo si existe data-theme='light' cambiamos a blanco */
[data-theme='light'] {
  --background: #ffffff;
  --foreground: #000000;
  --border-color: #e5e5e5; 
  --feed-bg: #ffffff;
}



body {
  background-color: var(--background);
  color: var(--foreground);
  
  /* 👇 ESTO ES CLAVE: Forzamos que la transición sea CERO */
  transition-property: none !important; 
  transition-duration: 0s !important;
}