/* --- BASE MÓVIL (Primero) --- */
.sidebar {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-main);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding: 0;
}

.topSection, .menuBtn {
  display: none; /* Ocultos en móvil */
}

.navSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.logoImage {
  width: 30px; /* Tamaño controlado para que no explote */
  height: auto;
}

.item {
  color: var(--text-secondary);
  padding: 10px;
  display: flex;
  position: relative;
}

.active { color: var(--text-primary); }

/* --- ESCRITORIO (Blindado) --- */
@media (min-width: 768px) {
  .sidebar {
    width: 76px;
    height: 100vh;
    top: 0;
    bottom: auto;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border-main);
    border-top: none;
    padding: 20px 0 40px 0; /* Ajuste de padding superior */
  }

  .topSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .navSection {
    flex-direction: column;
    gap: 25px;
    width: auto;
  }

  .menuBtn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

  .logoImage {
    width: 32px; /* Tamaño pequeño y fijo para escritorio */
  }
}

